/* Estilos generales */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Thin.woff') format('woff'),
	url('font/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Medium.woff') format('woff'),
	url('font/HelveticaNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue.woff') format('woff'),
	url('font/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Light.woff') format('woff'),
	url('font/HelveticaNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Bold.woff') format('woff'),
	url('font/HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*{
	color: #484848;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 15px;
}

a {
	color: #fff;
	text-decoration: none;
}

p{
	line-height: 24px;
}

img {
	max-width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.rosa-bg{
	background-color: #ec2697;
}

.rosa-cl{
	color: #ec2697;
}

.blanco-cl{
	color: #fff;
}

.background-image{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section{
	position: relative;
}

.section-container {
	display: block;
	margin: 0 auto;
	max-width: 1024px;
	padding: 20px;
	position: relative;
	width: 90%;
	z-index: 1;
}

.section-title {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}

.section-mask{
	background-color: #000;
	bottom: 0;
	left: 0;
	opacity: .5;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}
/* Estilos generales */

/* Sección App */
.section-app-header-image{
	background-image: url("http://loremflickr.com/1920/1080/mexico");
	height: 280px;
	position: relative;
}

.section-app-content{
	display: block;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

.section-app-title{
}

.section-app-text{
}

.section-app-buttons-container {
	margin: 50px auto;
}

.section-app-button {
	display: block;
}

.section-app-button-img {
	display: block;
	margin: 40px auto;
}

.section-app-image{
	display: none;
	margin: 0 auto;
	margin-top: -130px;
}
/* Sección App */

/* Sección Programa */
.section-programa{
	background-image: url("http://loremflickr.com/1920/1080/mexico");
}

.section-programa-content{
	margin: 0 auto;
	max-width: 610px;
	text-align: center;
	width: 100%;
}

.section-programa-title{

}

.section-programa-title-complement{
	font-size: inherit;
	font-weight: 700;
}

.section-progama-text{
	margin: 40px auto;
}

.section-programa-image{

}
/* Sección Programa */

/* Sección Funciona */
.step-container{
	width: 100%;
}

.step {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 42px;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	margin-right: 20px;
	text-align: center;
	width: 60px;
}

.step-text {
	font-size: 20px;
	line-height: 40px;
	margin-top: 30px;
	width: calc(100% - 80px);
}

.section-funciona-image{
	display: block;
	margin: 0 auto;
	max-width: 200px;
	width: 50%;
}
/* Sección Funciona */

/* Sección Bache */
.section-bache{
	background-image: url("http://loremflickr.com/1920/1080/mexico");
}

.section-bache-title{
	font-size: 26px;
	text-align: center;
}

.section-bache-subtitle{
	font-weight: 700;
	text-transform: uppercase;
}
.section-bache-text{
}
/* Sección Bache */

/* Sección Footer */
.footer-text {
	color: #484848;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.footer-link{
	color: inherit;
	font-size: inherit;
}
/* Sección Footer */

@media only screen and (min-width: 500px) {
	/* Estilos generales */
	.section-title {
		font-size: 50px;
	}
	/* Estilos generales */

	/* Sección Bache */
	.section-bache-title{
		font-size: 26px;
	}
	/* Sección Bache */
}

@media only screen and (min-width: 780px) {
	/* Sección Funciona */
	.step-container {
		min-height: 360px;
		width: 45%;
	}

	.step-text {
		font-size: 24px;
	}
	/* Sección Funciona */

	/* Sección Bache */
	.section-bache-text{
		margin: 0 auto;
		width: 76%;
	}
	/* Sección Bache */
}

@media only screen and (min-width: 930px) {
	/* Sección App */
	.section-app-content{
		display: block;
		float: left;
	}

	.section-app-button-img {
		margin: 0;
	}

	.section-app-button:nth-of-type(1) {
		float: left;
	}

	.section-app-button:nth-of-type(2) {
		float: right;
	}

	.section-app-image{
		display: block;
	}
	/* Sección App */
}

@media only screen and (min-width: 1050px) {
	/* Sección App */
	.section-app-content{
		display: block;
		float: left;
		max-width: 580px;
	}
	/* Sección App */
}

@media only screen and (min-width: 1110px) {
	/* Sección Footer */
	.footer-text{
		width: 30%;
	}
	.footer-text:nth-of-type(1) {
	}
	.footer-text:nth-of-type(2) {
		margin: 0 5%;
	}
	.footer-text:nth-of-type(3) {
	}
	/* Sección Footer */
}









.content{
	/*background-image: url("../img/00-Landing-Bache-24.png");*/
	/*background-repeat: no-repeat;*/
	/*margin: 0 auto;*/
	/*max-width: 1200px;*/
	/*opacity: 0.2;*/
	/*width: 100%;*/
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: 50px;
	background-color: #020202;
}

/* The element at the top of the page right after the fixed navigation bar
   MUST have sufficient top margin or else it will be covered by the bar */
.content {
	/*margin-top: 50px;*/
}

/* Example responsive navigation menu  */
.fixed-nav-bar li, .fixed-nav-bar a {
	height: 50px;
	line-height: 50px;
}
.menu {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}
.menu a, .menu a:visited {
	color: #ffffff;
}
.menu a:hover, .menu a:target {
	color: #ebebeb;
}
.menu-items {
	display: block;
	float: right;
}
.sitename {
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
}
a.sitename, a:visited.sitename {
	color: #e0e0e0;
}
.menu-items li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
.menu-items a {
	text-decoration: none;
}
.show, .hide {
	display: none;
	padding-left: 15px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center left;
	color: #dde1e2;
}
/*.show {*/
	/*background-image: url(assets/down-arrow-icon.png);*/
/*}*/
/*.hide {*/
	/*background-image: url(assets/up-arrow-icon.png);*/
/*}*/

@media only screen and (max-width: 800px) {
	.menu {
		position: relative;
		width: 100%;
	}
	.sitename {
		position: absolute;
		top: 0;
		left: 15px;
		margin-left: 0;
	}
	.menu-items {
		display: none;
		width: 100%;
		margin-top: 50px;
		background-color: #008378;
	}
	.menu-items li {
		display: block;
		text-align: center;
	}
	.show, .hide {
		position: absolute;
		top: 0;
		right: 15px;
	}
	.show {
		display: inline-block;
	}
	.hide {
		display: none;
	}
	#menu:target .show {
		display: none;
	}
	#menu:target .hide, #menu:target .menu-items {
		display: inline-block;
	}
}

@media only screen and (max-width: 220px) {
	.sitename, .show, .hide {
		font-size: 14px;
	}
}

