/* Estilos generales */
@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Thin.woff') format('woff'),
	url('font/HelveticaNeue-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Medium.woff') format('woff'),
	url('font/HelveticaNeue-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue.woff') format('woff'),
	url('font/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Light.woff') format('woff'),
	url('font/HelveticaNeue-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url('font/HelveticaNeue-Bold.woff') format('woff'),
	url('font/HelveticaNeue-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

*{
	color: #484848;
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 15px;
}

a {
	color: #fff;
	text-decoration: none;
}

p{
	line-height: 24px;
}

img {
	max-width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.rosa-bg{
	background-color: #ec2697;
}

.rosa-cl{
	color: #ec2697;
}

.blanco-cl{
	color: #fff;
}

.background-image{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.section{
	position: relative;
}

.section-container {
	display: block;
	margin: 0 auto;
	max-width: 1024px;
	padding: 20px;
	position: relative;
	width: 90%;
	z-index: 1;
}

.section-title {
	font-size: 36px;
	font-weight: 300;
	text-transform: uppercase;
}

/*.section-mask{*/
	/*background-color: #000;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*opacity: .8;*/
	/*position: absolute;*/
	/*right: 0;*/
	/*top: 0;*/
	/*z-index: 0;*/
/*}*/
/* Estilos generales */

/* Menú */
.fixed-nav-bar {
	background-color: rgba( 0, 0, 0, .8 );
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100%;
	height: 90px;
}

.fixed-nav-bar li, .fixed-nav-bar a {
	height: 90px;
	line-height: 90px;
}
.menu {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}

.menu a, .menu a:visited {
	color: #ffffff;
}
.menu a:hover, .menu a:target {
	/*color: #ebebeb;*/
}

.responsive-menu {
	cursor: pointer;
	float: right;
	margin: 1.5em auto;
	width: 20px;
}

.menu-items {
	display: none;
	float: right;
	margin: 0;
	padding: 0;
}

.menu-items li{
	cursor: pointer;
}
.sitename {
	display: inline-block;
	/*margin-right: 5px;*/
	/*margin-left: 10px;*/
}

.sitename-titulo-programa {
	display: block;
	font-size: 24px;
	font-weight: 700;
	line-height: 40px;
	margin: 0.5em 0 0;
	text-transform: uppercase;
	width: 100%;
}

.sitename-bache{
	font-size: inherit;
	margin-right: 0.5em;
}

.sitename-cdmx{
	font-size: inherit;
	font-weight: 300;
}

.sitename-cdmx-mx{
	color: inherit;
	font-size: inherit;
	font-weight: 700;
}

.sitename-programa {
	display: block;
	font-size: 9px;
	line-height: 18px;
	text-transform: uppercase;
	width: 100%;
}

a.sitename, a:visited.sitename {
	color: #e0e0e0;
}
.menu-items li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.menu-items li:hover,
.menu-items a:hover {
	background-color: rgba(236, 38, 151, 1);
}

.menu-items a {
	text-decoration: none;
}

.menu-items-show {
	background-color: rgba(0, 0, 0, 0.8);
	display: block;
	float: none;
	left: 0;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
}

.fixed-nav-bar .menu-items-show a,
.fixed-nav-bar .menu-items-show li {
	font-size: 16px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
	width: 100%;
}

/*.fixed-nav-bar .menu-items-show li:hover,*/
/*.fixed-nav-bar .menu-items-show a:hover {*/
	/*background-color: rgba(236, 38, 151, 1);*/
/*}*/

/*.menu-items-show li {*/
	/*height: 40px;*/
	/*line-height: 40px;*/
	/*width: 100%;*/
/*}*/

/*.menu-items-show .menu-item{*/
	/*line-height: 40px;*/
	/*width: 100%;*/
/*}*/

/* Menú */

/* Sección App */
.section-app-header-image{
	background-image: url("../img/background-1.jpg");
	background-position: center;
	height: 280px;
	position: relative;
}

.section-app-content{
	display: block;
	margin: 0 auto;
	max-width: 500px;
	width: 100%;
}

/*.section-app-title{*/
/*}*/

/*.section-app-text{*/
/*}*/

.section-app-buttons-container {
	margin: 50px auto;
}

.section-app-button {
	display: block;
}

.section-app-button-img {
	display: block;
	margin: 40px auto;
}

.section-app-image{
	display: none;
	margin: 0 auto;
	margin-top: -130px;
}
/* Sección App */

/* Sección Programa */
.section-programa{
	background-image: url("../img/background-2.jpg");
	background-position: center;
}

.section-programa-content{
	margin: 0 auto;
	max-width: 610px;
	text-align: center;
	width: 100%;
}

/*.section-programa-title{*/
/*}*/

.section-programa-title-complement{
	font-size: inherit;
	font-weight: 700;
}

.section-progama-text{
	margin: 40px auto;
}

/*.section-programa-image{*/
/*}*/
/* Sección Programa */

/* Sección Funciona */
.step-container{
	width: 100%;
}

.step {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	font-size: 42px;
	font-weight: 700;
	height: 60px;
	line-height: 60px;
	margin-right: 20px;
	text-align: center;
	width: 60px;
}

.step-text {
	font-size: 20px;
	line-height: 40px;
	margin-top: 30px;
	width: calc(100% - 80px);
}

.section-funciona-image{
	display: block;
	margin: 0 auto;
	max-width: 200px;
	width: 50%;
}
/* Sección Funciona */

/* Sección Bache */
.section-bache{
	background-image: url("../img/background-1.jpg");
	background-position: bottom;
}

.section-bache-title{
	font-size: 26px;
	text-align: center;
}

.section-bache-subtitle{
	font-weight: 700;
	text-transform: uppercase;
}
.section-bache-text{
}
/* Sección Bache */

/* Sección Footer */
.footer-text {
	color: #484848;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.footer-link{
	color: inherit;
	font-size: inherit;
}
/* Sección Footer */

@media only screen and (min-width: 400px) {
	/* Menú */
	.fixed-nav-bar {
		height: 100px;
	}

	.fixed-nav-bar li, .fixed-nav-bar a {
		height: 100px;
		line-height: 100px;
	}

	.responsive-menu {
		margin: 2em auto;
		width: 30px;
	}

	.sitename-titulo-programa {
		font-size: 34px;
	}

	.sitename-programa {
		font-size: 12px;
	}
	/* Menú */
}

@media only screen and (min-width: 500px) {
	/* Estilos generales */
	.section-title {
		font-size: 50px;
	}
	/* Estilos generales */

	/* Sección Bache */
	.section-bache-title{
		font-size: 26px;
	}
	/* Sección Bache */
}

@media only screen and (min-width: 640px) {
	/* Menú */
	.fixed-nav-bar {
		height: 120px;
	}

	.fixed-nav-bar li, .fixed-nav-bar a {
		height: 120px;
		line-height: 180px;
	}

	.responsive-menu {
		margin: 3.5em auto;
		width: 40px;
	}

	.sitename-titulo-programa {
		font-size: 40px;
		margin: 1em 0 0;
	}

	.sitename-programa {
		font-size: 14px;
	}

	/* Menú */
}

@media only screen and (min-width: 780px) {
	/* Sección Funciona */
	.step-container {
		min-height: 360px;
		width: 45%;
	}

	.step-text {
		font-size: 24px;
	}
	/* Sección Funciona */

	/* Sección Bache */
	.section-bache-text{
		margin: 0 auto;
		width: 76%;
	}
	/* Sección Bache */
}

@media only screen and (min-width: 930px) {
	/* Sección App */
	.section-app-content{
		display: block;
		float: left;
	}

	.section-app-button-img {
		margin: 0;
	}

	.section-app-button:nth-of-type(1) {
		float: left;
	}

	.section-app-button:nth-of-type(2) {
		float: right;
	}

	.section-app-image{
		display: block;
	}
	/* Sección App */
}

@media only screen and (min-width: 1050px) {
	/* Sección App */
	.section-app-content{
		display: block;
		float: left;
		max-width: 580px;
	}
	/* Sección App */
}

@media only screen and (min-width: 1080px) {
	/* Menú */
	.responsive-menu {
		display: none;
	}

	.menu-items{
		display: block;
	}
	/* Menú */
}

@media only screen and (min-width: 1110px) {
	/* Sección Footer */
	.footer-text{
		width: 30%;
	}
	/*.footer-text:nth-of-type(1) {*/
		/*text-align: left;*/
	/*}*/
	.footer-text:nth-of-type(2) {
		margin: 0 5%;
	}
	/*.footer-text:nth-of-type(3) {*/
		/*text-align: right;*/
	/*}*/
	/* Sección Footer */
}





